    .cuerpo{
        background-color: #161A24;
        display: flex;
        flex-direction: column;
        border: solid 2px black;
        width: 400px;
        height: 500px;
        border-radius: 5%;
    }

    .superior{
        color: #67D7A9;    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 400px;
        height: 150px;  
    }

    .item{
        font-size: x-large;
        width: 50px;
        height: 50px;  
        text-align: center;
    }

    .inferior{
        display: grid;
        height: 350px;
        background-color: #232938;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        border-radius: 5%;
    }

    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #6585B3;
        font-size: x-large;
        border-radius: 100%;
    }

    .borrar{
        background-color: #CD2C58;
    }

    .igual{
        grid-column: 5;
        grid-row: 3 / 5;
        color: black;
        background-color: #58E2CE;
       }

    .operador{
        background-color: #333B4D;
    }