    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body{
        background-color: #19A2AE;
    }

    .box{
        border-radius: 5%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        width: 300px;
        height: 380px;
        font-family: 'Kumbh Sans', sans-serif;
    }

    .header{
        background-image: url(./images/bg-pattern-card.svg);
        color: white;
        width: 300px;
        height: 130px;      
        text-align:center;
    }

    .body{
        color: black;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 150px;      
        text-align:center;    
        align-items: center;
    }

    .image{
        background-image: url(./images/image-victor.jpg);
        margin-top: -23%;
        border-radius: 100%;
        border: 0.2em solid white;
        width: 96px;
        height: 96px;
    }



    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        letter-spacing: 1px;
        border: 1px solid black;
        width: 300px;
        height: 100px;      
        text-align:center;      
    }

    h3{
        font-size: 18px;
    }

    .followers{
        width: 100px;
    }

    .likes{
        width: 100px;
    }

    .photos{
        width: 100px;
    }

    :root {
        --primary-dark-cyan: hsl(185, 75%, 39%);
        --primary-very-dark-blue: hsl(229, 23%, 23%);
        --primary-dark-blue: hsl(227, 10%, 46%);
        --dark_gray: hsl(0, 0%, 91%);
    }
