@media only screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
       }
    
       .item {
        background-color: #14D9C4;
        color: #14D9C4;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        font-size: 3rem;
       }
  }

  @media only screen and (min-width: 480px) {
    .grid-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
       }
    
       .item {
        background-color: #14D9C4;
        color: #14D9C4;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        font-size: 3rem;
       }
  }


   @media only screen and (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
       }
    
       .item {
        background-color: #14D9C4;
        color: #14D9C4;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        font-size: 3rem;
       }
    
       .item-a{
        grid-column: 1/3;
        grid-row: 2;
       }
    
       .item-b{
        grid-column: 3/5;
        grid-row: 2;
       }
    
       .item-c{
        grid-column: 5/7;
        grid-row: 2;
       }
    
       .item-d{
        grid-column: 7/9;
        grid-row: 2;
       }
    
       .item-e{
        grid-column: 9/11;
        grid-row: 2;
       }
    
       .item-f{
        grid-column: 11/13;
        grid-row: 2;
       }
    
       .item-g{
        grid-column: 1/5;
        grid-row: 3;     
       }
    
       .item-h{
        grid-column: 5/9;
        grid-row: 3;     
       }
    
       .item-i{
        grid-column: 9/13;
        grid-row: 3;     
       }
    
       .item-j{
        grid-column: 1/7;
        grid-row: 4;     
       }
    
       .item-k{
        grid-column: 7/13;
        grid-row: 4;     
       }
  }

