    .field{
        display: grid;
        border: solid 2px black;
        width: 780px;
        height: 360px;
    }

    .cell{
        background: #699A7C;
        box-shadow: inset 0 0 0 1px white;
    }

    .top-left{
        grid-column: 1 / 14;
    }

    .top-right{
        grid-column: 14 / 27;
    }

    .left{
        grid-row: 2 / 8;
        grid-column: 1 / 7;
    }

    .middletop-left{
        grid-row: 2 / 5;
        grid-column: 7 / 14;
    }

    .middletop-right{
        grid-row: 2 / 5;
        grid-column: 14 / 21;
    }

    .middlebottom-left{
        grid-row: 5 / 8;
        grid-column: 7 / 14;
    }

    .middlebottom-right{
        grid-row: 5 / 8;
        grid-column: 14 / 21;
    }

    .right{
        grid-row: 2 / 8;
        grid-column: 21 / 27;
    }

    .bottom-left{
        grid-column: 1 / 14;
    }

    .bottom-right{
        grid-column: 14 / 27;
    }