    #navegacion{
        padding: 1em;
        background-color: linen;
    }

    #botones{
        padding: 0.5em;
        text-align: center;
    }

    h1{
        padding: 2em;
        font-style: italic;
        background-color: beige;
        text-align: center;
    }

    form {
        /* Centrar el formulario en la página */
        margin: 0 auto;
        width: 600px;
        /* Esquema del formulario */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        background-color: burlywood;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      form li + li {
        margin-top: 1em;
      }
      
      label {
        /* Tamaño y alineación uniforme */
        display: inline-block;
        width: 150px;
        text-align: right;
      }
      
      input,
      textarea {
        /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
           Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
        font: 1em sans-serif;
      
        /* Tamaño uniforme del campo de texto */
        width: 300px;
        box-sizing: border-box;
      
        /* Hacer coincidir los bordes del campo del formulario */
        border: 1px solid #999;
      }
      
      input:focus,
      textarea:focus {
        /* Destacado adicional para elementos que tienen el cursor */
        border-color: #000;
      }
      
      textarea {
        /* Alinear los campos de texto multilínea con sus etiquetas */
        vertical-align: top;
      
        /* Proporcionar espacio para escribir texto */
        height: 5em;
      }
      
      .button {
        /* Alinear los botones con los campos de texto */
        padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
      }
      
      button {
        /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
           entre las etiquetas y sus campos de texto */
        margin-left: .5em;
      }

    
