  table, th, td {
    border: 5px solid whitesmoke;
    text-align: center;
  }

  ul {
    background-color:darkslategray;
    margin: 0;
    padding: 0;
  }

  body{
      text-align: center;
      background-color: lightgrey;
  }

  h1{
      background-color: lightsalmon;
      font-style: italic;
  }

  #titulo{
      border: 5px;
      background-color: brown;
      font-size: xx-large;
  }

  th{
      font-size: larger;
      font-style: oblique;
      background-color: moccasin;
  }

  td{
      font-size: large;
      font-style: italic;
      background-color: linen;
  }

  .TablaPrincipal
{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}