
#caja{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: oldlace;
    background-color:navy;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    row-gap: 10px;
}

#mensaje{
    height: 40px;
}

#comentarios{
    display: grid;
    grid-template-columns: auto auto;
}


.nuevo{
    border-radius: 1em;
    background-color: brown;
    border: 1px solid black;
}

html,


body,


header,


#intro {


    height: 100%;


}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}