<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body  class="bg-light">
    <div id="app">
        <h1>Mantenedor de Productos</h1>
        <label class="mt-3">Nombre del producto:</label>
        <input v-model="producto.nombre" type="text" placeholder="Ingrese el nombre">
        <div class="alert alert-warning" role="alert" v-show="vNombre">Campo obligatorio</div>
        <label class="mt-3">Descripción del producto:</label>
        <input v-model="producto.descripcion" type="text" placeholder="Ingrese la descripción">
        <div class="alert alert-warning" role="alert" v-show="vDescripcion">Campo obligatorio</div>
        <label class="mt-3">Precio:</label>
        <input v-model="producto.precio" type="number"placeholder="Ingrese el precio">
        <div class="alert alert-warning" role="alert" v-show="vPrecio">El precio debe ser mayor a 0</div>
        <button v-on:click="crearProducto();" v-show="!editar">Crear Producto</button>
        <button v-on:click="guardarCambios();" v-show="editar">Guardar cambios</button>

        <h2 v-show="mostrar">Lista de Productos</h1>
            <table v-show="mostrar" class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="v-for-object" class="producto" v-for="(producto,index) in productos" :key="index">
                     <td>{{ producto.nombre  }}</td>  
                     <td>{{ producto.descripcion }}</td> 
                     <td>${{ producto.precio }}</td>  
                     <td><button class="btn btn-primary" v-show="!editar" v-on:click="editarProducto(index)">Editar</button>
                        <button class="btn btn-secondary" v-show="editar" v-on:click="cancelar(); limpiarFormulario();">Cancelar</button>
                    </td>
                     <td><button class="btn btn-danger" v-on:click="eliminarProducto(index); limpiarFormulario();">Eliminar</button></td>
                  </tr>
                 </tbody>
              </table>
              
      </div>       

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
        var app = new Vue({
          el: '#app',
          data: {
              mostrar:false,
              editar:false,
              vNombre:false,
              vDescripcion:false,
              vPrecio:false,
              editarIndex:-1,
              producto:{
                  nombre: '',
                  descripcion: '',
                  precio: ''
              },
              productos:[],

          },
          methods: {
              crearProducto: function(){
                if(this.camposCorrectos()){
                  var nuevoProducto = {
                      nombre: this.producto.nombre,
                      descripcion: this.producto.descripcion,
                      precio: this.producto.precio
                  }
                  this.productos.push(nuevoProducto);
                  this.editarIndex = -1;
                  this.mostrar = true;
                  this.limpiarFormulario();
                }

              },
              editarProducto: function(index){
                this.editarIndex = index;
                this.editar = true;
                this.producto.nombre = this.productos[index].nombre;
                this.producto.descripcion = this.productos[index].descripcion;
                this.producto.precio = this.productos[index].precio;      

              },
              eliminarProducto: function(index){
                this.productos.splice(index, 1);
                if(this.productos.length == 0){
                    this.mostrar = false;
                }
                this.editar = false;
              },
              limpiarFormulario: function(){
                this.producto.nombre = '';
                this.producto.descripcion = '';
                this.producto.precio = '';
              },
              guardarCambios: function(){
                if(this.camposCorrectos()){
                  this.productos[this.editarIndex].nombre  = this.producto.nombre;
                  this.productos[this.editarIndex].descripcion  = this.producto.descripcion;
                  this.productos[this.editarIndex].precio  = this.producto.precio;
                  this.editar = false;
                  this.editarIndex = -1;
                  this.limpiarFormulario();
                }
 
              },
              cancelar: function(){
                  this.editar = false;
                  this.editarIndex = -1;
              },
              validarNombre: function(){
                if(this.producto.nombre == ''){
                  this.vNombre = true;
                  return false;
                }else{
                  this.vNombre = false;
                  return true;
                } 
              },
              validarDescripcion: function(){
                if(this.producto.descripcion == ''){
                  this.vDescripcion = true;
                  return false;
                }else{
                  this.vDescripcion = false;
                  return true;
                } 
              },
              validarPrecio: function(){
                if(this.producto.precio <= 0){
                  this.vPrecio = true;
                  return false;
                }else{
                  this.vPrecio = false;
                  return true;
                } 
              }
              ,
              camposCorrectos: function(){
                if(this.validarNombre() && this.validarDescripcion() && this.validarPrecio()){
                  return true;
                }else{
                  return false;
                }
              }
          }
        });
      </script>



    
</body>
</html>